/build
/models/*.gguf
/research/kernel-rs/kernel/target
/research/kernel-rs/build
/mindwm/target
/mindd/target
/user/target
/host/target
*.img
*.iso
*.ppm
*.png
!/packages/mindos-theme/*.png
!/iso/syslinux/*.png
!/iso/grub/*.png
!/docs/img/*.png
*.pkg.tar.zst
__pycache__/
