# https://www.supergrubdisk.org/wiki/Loopback.cfg
search --no-floppy --set=archiso_img_dev --file "${iso_path}"
probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"

background_color 140,16,16
set color_normal=white/black
set color_highlight=red/white
set menu_color_normal=white/black
set menu_color_highlight=red/white

default=mindos
timeout=5
timeout_style=menu

menuentry "MindOS Live (%ARCH%)" --class mindos --id 'mindos' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-mindos archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" quiet splash loglevel=3 vt.global_cursor_default=0 nvidia_drm.modeset=1 nvidia_drm.fbdev=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-mindos.img
}
